@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}